<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= products[1] %></title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body style="padding: 2%">
	<main>
		<span><a href="/">Homepage</a>></span>
    <span><a href="/cart">Cart</a>></span>
    <% if (currentUser) { %>
    <span>Hello, <a href="/user"><%= currentUser %></a>></span>
    <span><a onclick="logout()" style="text-decoration: underline;">Log Out</a></span>
    <% } else { %>
    <a href="/user">Login</a>
    <span><a href="/user/signup">Sign Up</a></span>
    <% }%>
		<h3><%= products[1] %></h3>
		<p><%= parseInt(products[2]).toLocaleString() %> đ</p>
    <p>
      <button onclick="addToCart(<%= products[0] %>, '<%= products[1] %>')">Thêm vào giỏ hàng</button>
    </p>
  </main>
</body>
<script type="text/javascript" src='/api/clientJS/cookieHandler'></script>
<script type="text/javascript" src='/api/clientJS/cartHandler'></script>
</html>
